@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col sm:flex-row w-full gap-4">
    <div class="w-full">
        <p class="text-3xl">Welcome to writter.</p>
        <p class="text-xl">Simple, distraction free writting experience.</p>
    </div>
    <div class="w-full">
        <img class="homehero-img" src="~/files/screenshot-mock.png" />
    </div>
</div>
